*{
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #E5E5E5;
}

header{
    width: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background: violet; */
}

header img{
    padding-top: 20%;
}

main{
    width: 85%;
    height: 100%;
    display: flex;
    /* background: seagreen; */
}
/*==============================================================*/
.caja-input{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    /* background: royalblue; */
}

.seccion-input{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: yellowgreen; */
}

.input-texto{
    width: 100%;
    height: 87%;
    padding-top: 10%;
    resize: none;
    border: none;
    font-size: 32px;
    color: #0A3871;
    background: none;
}

.input-texto::placeholder{
    color: #0A3871;
}

.info{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: turquoise; */

}

.botones{
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    /* background: red; */
}

.encriptar{
    width: 50%;
    height: 100%;
    font-size: 16px;
    background: #0A3871;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
        
}

.desencriptar{
    width: 50%;
    height: 100%;
    font-size: 16px;
    color: #0A3871;
    border: 2px solid #0A3871;
    border-radius: 24px;
    background: #D8DFE8;

}

/*==============================================================*/

.caja-mensaje{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: mediumslateblue; */
}

.seccion-mensaje{
    width: 85%;
    height: 95%;
    padding-top: 10%;
    padding-bottom: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;    
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;    
    background: #FFFFFF;
}

.mensaje{
    width: 85%;
    height: 40%;
    overflow: auto;
    resize: none;
    border: none;
    background-image: url(imagenes/Muñeco.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 24px;
    color: #495057;
}

.caja-texto{
    width: 90%;
    height: 22%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.texto-1{
    font-weight: bold;
    font-size: 24px;
    color: #343A40;
}

.texto-2{
    font-size: 16px;
    color: #495057;
}

.copiar{
    display: none;
    width: 85%;
    height: 8%;
    background: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
}
/*==============================================================*/
