body{
    background: #E5E5E5;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
}

.seccion-input{
    width: 60%;
}

.seccion-mensaje{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.input-texto{
    width: 100%;
    
}

.botones{
    width: 680px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0px;
    gap: 24px;
    background: red;
}

.mensaje{
    background-repeat: no-repeat;
    background-image: url(imagenes/Muñeco.png);
}